.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        margin-top: 35px;
        margin-bottom: 35px;
        font-size:20px ;
    }
    .cointainer{
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}