.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(228, 227, 227);
    position: relative;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width:426px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid rgb(228, 227, 227);
        
    }
}