.navigation{
  background-color: #7FC06C;
  width: 250px;
  height: 37px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
  box-shadow: 3px 3px #a4cea1;
  .button-redirection{
  color: white;
  text-decoration: none;
  }
  &:hover{
    background-color: #8bc07b;
}
}


@media screen and (max-width:426px){
  .navigation{


    top: 15%;
    right: 5%;
    cursor: pointer;
    box-shadow: 3px 3px #a4cea1;
    .button-redirection{
    color: white;
    text-decoration: none;
    }
    &:hover{
      background-color: #8bc07b;
  }
  }
}